* {
   font-size: 20px;
   font-family: "Helvetica Neue", serif;
   font-weight: 500;
}
body {
   display: flex;
   flex-direction: column;
   justify-content: center;

   background: linear-gradient(90deg, rgba(131,58,180,0.8) 0%, rgba(253,29,29,0.8) 50%, rgba(252,176,69,0.8) 100%);

}
.wrapper {
   margin: 70px;
   padding: 15px;
   width: 500px;
   height: 100%;
   background-color: #fafafa;

   border-radius: 15px;
   box-shadow: 0 0 15px 5px rgba(0,0,0,0.4);

   display: flex;
   flex-direction: column;
   justify-content: center;
   align-self: center;
}
.main {
   display: flex;
   flex-direction: column;

   justify-content: center;

   width: 300px;
   align-self: center;
   margin-bottom: 50px;
}

.numbers {
   display: flex;
   flex-direction: row;
   justify-content: space-around;

   margin-bottom: 50px;

}


.field {
   display: flex;
   flex-direction: column;
   justify-content: center;

   margin: 40px;

}


.numbers p {
   text-align: center;

}

.numbers input {
   width: 50px;
   align-self: center;
   font-size: 25px;
}


.edges {
   font-size: 25px;
   height: 200px;
   width: 100px;
   align-self:center;
   font-weight: 400;
   margin-bottom: 30px;
}



.button {
   width: 140px;
   height: 60px;
   font-size: 20px;
   align-self:center;
   border-radius: 30px;
   background: transparent;

   transition: .3s;
}

.button:hover {
   background: rgba(255, 103, 1, 0.8);
   color: white;
   transition: .3s;
}

.line {
   align-self:center;
   margin: 5px;
}

textarea {
   resize: vertical;
}



